/* #banner img { */
/*   position: relative; */
/*   width: 100%; */
/* } */

#banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner h2 {
  font-size: 4vw;
}


#preview {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 5vw;
}

#more-button {
  margin-right: 2%;
}

#contacts-button {
  margin-left: 2%;
}

#contacts-button,
#more-button {
  font-size: 2vw;
  border-radius: 5px;
  padding: 2%;
}

@media only screen and (max-width:768px) {
  #banner {
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
    justify-content: start;
  }

  #preview {
    /* position: absolute; */
    /* z-index: 1; */
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 3%;
  }

  #buttons {
    display: flex;
    width: 100%;
    justify-content: start;
  }

}
