* {
  color: #000;
  font-family: Georgia, serif;
}

button {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}


#name {
  color: #FFF;
}

#lawyer {
  color: #C1B697;
}


#top-header a {
  color: #FFF;
  font-family: system-ui;
}

#top-header {
  background-color: #44465D;
}

#main-header {
  font-weight: 800;
}

#main-header button {
  background-color: #C1B697;
  color: #FFF;
}


#more-button {
  background-color: #C1B697;
  color: #000;
}

#contacts-button {
  background-color: #44465D;
  color: #FFF;
}

#banner {
  text-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 1);
}
