* {
  color: #000;
  font-family: Georgia, serif;
}

button {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}


#name {
  color: #FFF;
}

#lawyer {
  color: #C1B697;
}


#top-header a {
  color: #FFF;
  font-family: system-ui;
}

#top-header {
  background-color: #44465D;
}

#main-header {
  font-weight: 800;
}

#main-header button {
  background-color: #C1B697;
  color: #FFF;
}

#main-header a,
button,
nav {
  color: #44465D;
  /* text-shadow: 0px 0.2px 0.6px #000; */
}


#more-button {
  background-color: rgba(68, 70, 93, 1);
  color: #000;
}

#contacts-button {
  background-color: rgba(193, 182, 151, 1);
  color: #FFF;
}

#banner {
  text-shadow: 0px 0.2px 1px #C1B697;
}
