section .container h2 {
  font-family: Georgia, serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 7%;
}

/* ===== */
/* SHARE */
/* ===== */

section .container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  margin: 8% 3%;
}

section #about {
  grid-template-areas: 
"i i i i i i i i . c c c c c c c c c c .";
}

section #contacts {
  grid-template-areas: 
". c c c c c c c c c . i i i i i i i i i";
}

section .image {
  grid-area: i;
}

section .content {
  grid-area: c;
}


/* ======== */
/* CONTACTS */
/* ======== */

section #contacts a {
    font-size: 25px;
    line-height: 2;
}


@media only screen and (max-width:768px) {
  section .container {
    grid-template-columns: repeat(1, 1fr);
    margin: 8% 3%;
  }

    section #about {
      grid-template-areas: 
      "c"
      "i";
    }

    section #contacts {
      grid-template-areas: 
      "c"
      "i";
    }



  section .container h2 {
    font-size: 26px;
    padding: 0 3%;
  }

  section .image {
      padding: 5% 0;
  }

    /* ======== */
    /* CONTACTS */
    /* ======== */

    section #contacts a {
        font-size: 15px;
        /* line-height: 2; */
    }

}

