/* ===== */
/* SHARE */
/* ===== */

section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
  grid-template-areas: "l r";
  padding: 5% 0;
}

section .container h2 {
  font-family: Georgia, serif;
  font-weight: 800;
  font-size: 60px;
  color: #44465D;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 7%;
}

section .section-left, .section-right {
  padding: 0 10%;
}

section .section-left {
  grid-area: l;
}

section .section-right {
  grid-area: r;
}

section img {
  display: block;
  max-width: 100%;
}

/* ======== */
/* CONTACTS */
/* ======== */

section a {
    font-size: 30px;
    line-height: 2;
}

section a .text {
    color: #000;
}


@media only screen and (max-width:768px) {
  section .container {
    grid-template-columns: repeat(1, 1fr);
  }

  section .container {
    grid-template-areas:
      "r"
      "l";
  }

  section #reverse{
    grid-template-areas:
      "l"
      "r";
  }

  section .container h2 {
    font-size: 30px;
  }


    /* ======== */
    /* CONTACTS */
    /* ======== */

    section a {
        font-size: 15px;
        /* line-height: 2; */
    }

}

