body {
  margin: 0;
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  /* background-color: #123; */
}

/* HEADER */

header {
  display: flex;
  background: transparent;
  flex-direction: column;
  width: 100%;
  border: 3px solid black;
  height: auto;
  /* background-color: #FFF; */
  position: static;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #44465D;
}

#top-header {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid red; */
  width: 100%;
  /* max-width: 1500px; */
  height: auto;
  background-color: #44465D;
  position: relative;
  margin: auto;
}

#top-header a {
  /* display: flex; */
  color: #FFF;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#content-header {
  /* overflow: hidden; */
  /* border: 3px solid blue; */
  width: 100%;
  /* max-width: 1500px; */
  height: auto;
  display: flex;
  flex-direction: row;
  /* background-color: #FFF; */
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
}

#main-header-left {
  /* border: 1px solid black; */
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  margin-left: 2%;
}

#main-header-center {
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-header-right {
  /* border: 1px solid black; */
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  margin-right: 2%;
}


#banner {
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  /* width: 100%; */
  /* z-index: -1; */
  border: 5px solid green;
  /* align-items: center; */
  /* margin: auto; */
}

#banner img {
  position: relative;
  width: 100%;
}

#preview {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#preview p {
  font-size: 60px;
}


#header img {
  width: 50px;
}


#header a {
  float: left;
  color: #44465D;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

article {
  position: relative;
}


@media screen and (max-width: 500px) {
  #header a {
    float: none;
    display: block;
    text-align: left;
  }


  #header-right {
    float: none;
  }
}

/* IMG */

/* BUTTONS */
#book-button {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #C1B697;
  color: #FFF;
}


#more-button {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #C1B697;
  color: #44465D;
}

#contacts-button {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #44465D;
  color: #FFF;
}

input[type=”text” i] {
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #123;
  border-color: white;
  margin-right: 30px;
  border: 0;
}

#name {
  color: #FFF;
}

#lawyer {
  color: #C1B697;
}
