@import 'minimalize.css';

body {
  margin: 0;
  width: 100%;
  /* background-color: #123; */
}

/* HEADER */

header {
  /* display: block; */
  /* position: fixed; */
  position: static;
  flex-direction: column;
  width: 100%;
  /* border: 3px solid black; */
  height: auto;
  background-color: #FFF;
  margin: auto;
  font-family: Georgia, serif;
  font-size: 25px;
  color: black;
}

#top-header {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid red; */
  width: 100%;
  /* max-width: 1500px; */
  height: auto;
  background-color: #44465D;
  position: relative;
  margin: auto;
}

#top-header a {
  /* display: flex; */
  color: #FFF;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: system-ui;
  font-size: 15px;
}

#content-header {
  /* overflow: hidden; */
  /* border: 3px solid blue; */
  width: 100%;
  /* max-width: 1500px; */
  height: auto;
  display: flex;
  flex-direction: row;
  /* background-color: #FFF; */
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
}

#main-header-left {
  /* border: 1px solid black; */
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  margin-left: 2%;
}

#main-header-center {
  /*   /* border: 1px solid black; */
  margin: auto;
}

#main-header-right {
  /* border: 1px solid black; */
  float: right;
  align-items: center;
  vertical-align: middle;
  margin-right: 2%;
}


#banner {
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  /* width: 100%; */
  /* z-index: -1; */
  /* border: 5px solid green; */
  /* margin: auto; */
}

#banner img {
  position: relative;
  width: 100%;
}


#preview {
  text-shadow: 2px 2px 3px black;
  position: absolute;
  z-index: 1;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}


#preview p {
  font-size: 90px;
  /* background-color: green; */
}



#header img {
  width: 50px;
}


#header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

article {
  position: relative;
}


/* @media screen and (max-width: 500px) { */
/*   #header a { */
/*     float: none; */
/*     display: block; */
/*     text-align: left; */
/*   } */
/**/
/*   #header-right { */
/*     float: none; */
/*   } */
/* } */

/* IMG */

/* BUTTONS */
#book-button {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #C1B697;
  color: #FFF;
}

#buttons {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

#more-button,
#contacts-button {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  flex-direction: space-between;
}

#more-button {
  background-color: rgba(68, 70, 93, 0.5);
  color: #FFF;
  border: 1px solid black;
}

#contacts-button {
  background-color: rgba(193, 182, 151, 0.4);
  color: #FFF;
  border: 1px solid black;
}

input[type=”text” i] {
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #123;
  border-color: white;
  margin-right: 30px;
  border: 0;
}

#name {
  color: #FFF;
}

#lawyer {
  color: #C1B697;
}

#main-header-center a {
  margin: 20px;
}


section {
  background-color: #ededed;
  padding: 80px 0;
}

h2 {
  font-family: Georgia, serif;
  font-weight: 800;
  font-size: 40px;
  color: #44465D;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 40px;
}

section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1800px;
  margin: auto;
  padding: 0 20px;
}

.section-left {
  border-right: 1px solid #dadada;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
}

.section-right {
  padding-left: 40px;
}

section img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width:768px) {
  section {
    padding: 50px 0;
  }

  section h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 26px;
  }

  section .container {
    grid-template-columns: 1fr;
    /* переход на одну колонку */
  }

  section .container>div {
    padding: 0 8%;
    /* обнуление и уменьшение отступов */
  }

  section .container>div.section-left {
    border: none;
    /* убираем серый разделитель */
  }
